{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

    <!---------------------------MOdal Section  satrts------------------->

    <div class="modal fade" id="modalview">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

            <div class="modal-content">


                <div class="modal-header">
                    <div class="modal-title h4">Messages</div>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <div class="modal-body">


                    <ul class="list-unstyled">


                     <a href="#" class="text-decoration-none">
                        <li class="media hover-media">
                           
                                <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">

                                <div class="media-body text-dark">
                                        <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                                </div>

                        </li>
                    </a>
                    <hr class="my-3">


                    
                    <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>


                        <hr class="my-3">


                        <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>

                        <hr class="my-3">


                        <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                        <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
                            <hr class="my-3">
        
        
                            
                            <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>
        
        
                                <hr class="my-3">
        
        
                                <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>

                        
                                <hr class="my-3">
                                <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
                                    <hr class="my-3">
                
                
                                    
                                    <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
                
                
                                        <hr class="my-3">
                
                
                                        <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
                    </ul>                   
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------MOdal Ends---------------------------->
    <!-------------------------------------------Start Grids layout for lg-xl-3 columns and (xs-lg 1 columns)--------------------------------->
    <div class="container">
        <div class="row">
            <!--------------------------left columns  start-->
            <div class="col-12 col-lg-3">
                <div class="left-column">
                    <div class="card card-left1 mb-4" >
                        <img src="{% static 'img/photo-1455448972184-de647495d428.jpg' %}" alt="" class="card-img-top img-fluid">
                        <div class="card-body text-center ">
                            <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">
                            <h5 class="card-title">Dave Gamache</h5>
                            <p class="card-text text-justify mb-2">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>
                            <ul class="list-unstyled nav justify-content-center">
                                <a href="#" class="text-dark text-decoration-none">
                                    <li class="nav-item">Friends <br> <strong>12M</strong></li>
                                </a>
                                <a href="#" class="text-dark text-decoration-none">
                                    <li class="nav-item">Enemies <br> <strong>1</strong></li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="card shadow-sm card-left2 mb-4">

                        <div class="card-body">

                                <h5 class="mb-3 card-title">About <small><a href="#" class="ml-1">Edit</a></small></h5>

                                <p class="card-text"> <i class="fas fa-calendar-week mr-2"></i> Went to <a href="#" class="text-decoration-none">oh canada</a></p>

                                <p class="card-text"> <i class="fas fa-user-friends mr-2"></i> Become a friend with <a href="#" class="text-decoration-none">obama</a></p>
                                <p class="card-text"> <i class="far fa-building mr-2"></i> Work at <a href="#" class="text-decoration-none">Github</a></p>
                                <p class="card-text"> <i class="fas fa-home mr-2"></i> Live in <a href="#" class="text-decoration-none">San francisco</a></p>
                                <p class="card-text"> <i class="fas fa-map-marker mr-2"></i> From <a href="#" class="text-decoration-none">Seattle, WA</a></p>
                        </div>
                    </div>
                    <div class="card shadow-sm card-left3 mb-4">

                        <div class="card-body">
                            <h5 class="card-title">Photos<small class="ml-2"><a href="#">.Edit </a></small></h5>

                            <div class="row">
                                <div class="col-6 p-1">
                                    <a href="{% static 'img/left1.jpg' %}" data-lightbox="id" ><img src="{% static 'img/left1.jpg' %}" alt="img" class="img-fluid my-2"></a>  
                                    <a href="{% static 'img/left2.jpg' %}"data-lightbox="id"><img src="{% static 'img/left2.jpg' %}" alt="img" class="img-fluid my-2"></a>
                                    <a href="{% static 'img/left3.jpg' %}"data-lightbox="id"><img src="{% static 'img/left3.jpg' %}" alt="img" class="img-fluid my-2"></a>

                                </div>


                                <div class="col-6 p-1">
                                        <a href="{% static 'img/left4.jpg' %}"data-lightbox="id"><img src="{% static 'img/left4.jpg' %}" alt="img" class="img-fluid my-2"></a>
                                        <a href="{% static 'img/left5.jpg' %}"data-lightbox="id"><img src="{% static 'img/left5.jpg' %}" alt="img" class="img-fluid my-2"></a>
                                        <a href="{% static 'img/left6.jpg' %}"data-lightbox="id"><img src="{% static 'img/left6.jpg' %}" alt="img" class="img-fluid my-2"></a>   
                                    </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
 <!--------------------------Ends Left columns-->
 <!---------------------------------------Middle columns  start---------------->          
            <div class="col-12 col-lg-6" >
                <div class="middle-column">
                    <div class="card" >


                        <div class="card-header bg-transparent">
                            <form class="form-inline">


                                <div class="input-group w-100">
                                 <input type="text" name="message" id="message" placeholder="Message" class="form-control form-control-md">

                                 <div class="input-group-append">
                                        <div class="input-group-text">
                                                <i class="fas fa-camera"></i>
                                            </div>
                                 </div>
                                </div>                         
                            </form>

                        </div>                        
   <div class="card-body">

    <div class="media">
        <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="55px" height="55px" class="rounded-circle mr-3">

        <div class="media-body">
            <h5>Dave Gamache</h5>
            <p class="card-text text-justify">Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

           

            <div class="row no-gutters mb-3">
                <div class="col-6 p-1 text-center">

                        <img src="{% static 'img/adventure-alps-clouds-2259810.jpg' %}" alt="" class="img-fluid mb-2">
                        <img src="{% static 'img/aerial-view-architectural-design-buildings-2228123.jpg' %}" alt="" class="img-fluid">
                </div>

                <div class="col-6 p-1 text-center">

                        <img src="{% static 'img/celebration-colored-smoke-dark-2297472.jpg' %}" alt="" class="img-fluid mb-2">
                        <img src="{% static 'img/bodybuilding-exercise-fitness-2294361.jpg' %}" alt=""class="img-fluid">
                </div>
            </div>
            <div class="media mb-3">
                    <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="45px" height="45px" class="rounded-circle mr-2">
                    <div class="media-body">
                            <p class="card-text text-justify">Jacon Thornton: Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>

                    </div>
            </div>           
            <div class="media">
                    <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="45px" height="45px" class="rounded-circle mr-2">
                    <div class="media-body">
                            <p class="card-text text-justify">Mark Otto: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

                    </div>
            </div>
        </div>
        <small>5min</small>
    </div>
   </div>                            
 <hr>
<div class="card-body">

    <div class="media">
            <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="55px" height="55px" class="rounded-circle mr-3">

        <div class="media-body">
                <h5>Jacob Thornton</h5>
                <p class="text-justify">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <small>14 min</small>
    </div>
</div>
<hr>
<div class="card-body">
    <div class="media">
            <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="55px" height="55px" class="rounded-circle mr-3">
            <div class="media-body">
                <h5>Mark Otto</h5>
                <p class="text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
             <a href="{% static 'img/mid5.jpg' %}" data-lightbox="id"><img src="{% static 'img/mid5.jpg' %}" alt="" class="img-fluid shadow-sm img-thumbnail">   </a>   
            </div>
            <small class="text-muted">10 min</small>
    </div>
</div>
 </div>
 </div>
  </div>
  <br> <br> <br><br> <br> <br>

<!------------------------Middle column Ends---------------->
<!---------------------------Statrs Right Columns----------------->              
<div class="col-12 col-lg-3">
    <div class="right-column">

        <div class="card shadow-sm mb-4" >
            <div class="card-body">
                <h6 class="card-title">Sponsored</h6>
                <img src="{% static 'img/right1.jpg' %}" alt="card-img" class="card-img mb-3">
                <p class="card-text text-justify"> <span class="h6">It might be time to visit Iceland.</span> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice.  What are you waiting for?</p>
                <a href="#" class="btn btn-outline-info card-link btn-sm">Buy a ticket</a>
            </div>
        </div>
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                    <h6 class="card-title ">Likes <a href="#" class="ml-1"><small>.View All</small> </a> </h6>
                    <div class="row no-gutters d-none d-lg-flex">
                        <div class="col-6 p-1">
                                <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="80px" height="80px" class="rounded-circle mb-4">
                                <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="80px" height="80px" class="rounded-circle">
                        </div>
                        <div class="col-6 p-1 text-left">
                            <h6>Jacob Thornton @fat</h6>
                            <a href="#" class="btn btn-outline-info btn-sm mb-3"><i class="fas fa-user-friends"></i>Follow </a>

                            <h6>Mark otto</h6>
                            <a href="#" class="btn btn-outline-info  btn-sm"><i class="fas fa-user-friends"></i>Follow </a>
                        </div>
                    </div>
            </div>
            <div class="card-footer">

                <p class="lead" style="font-size:18px;">Dave really likes these nerds, no one knows why though.</p>
            </div>
            


        </div>
        <div class="card shadow-sm">
            <div class="card-body">
                <p>&copy; 2018 Bootstrap
                        <a href="#">About</a>
                        <a href="#">Help</a>
                        <a href="#">Terms</a>
                        <a href="#">Privacy</a>
                        <a href="#">Cookies</a>
                        <a href="#">Ads </a>
                        <a href="#">Info</a>
                        <a href="#">Brand</a>
                        <a href="#">Blog</a>
                        <a href="#">Status</a>
                        <a href="#">Apps</a>
                        <a href="#">Jobs</a>
                        <a href="#">Advertise</a>                              
                </p>
            </div>

        </div>
    </div>
            </div>
</div>
<!------------------------Light BOx OPtions------------->
<script>
        lightbox.option({         
        })
    </script>
<!------------------------Light BOx OPtions------------->
{% endblock %}