{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
         <!---------------------------MOdal Section  satrts------------------->

    <div class="modal fade" id="modalview" >
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    
                <div class="modal-content">
    
    
                    <div class="modal-header">
                        <div class="modal-title h4">Messages</div>
    
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
    
    
                    <div class="modal-body">
    
    
                        <ul class="list-unstyled">
    
    
                         <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>
                        <hr class="my-3">
    
    
                        
                        <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                        <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
    
    
                            <hr class="my-3">
    
    
                            <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                        <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
    
                            <hr class="my-3">
    
    
                            <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>
                                <hr class="my-3">
            
            
                                
                                <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
            
            
                                    <hr class="my-3">
            
            
                                    <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
    
                            
                                    <hr class="my-3">
                                    <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
                                        <hr class="my-3">
                    
                    
                                        
                                        <a href="#" class="text-decoration-none">
                                                <li class="media hover-media">
                                                   
                                                        <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        
                                                        <div class="media-body text-dark">
                                                                <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        
                                                        </div>
                        
                                                </li>
                                            </a>
                    
                    
                                            <hr class="my-3">
                    
                    
                                            <a href="#" class="text-decoration-none">
                                                <li class="media hover-media">
                                                   
                                                        <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        
                                                        <div class="media-body text-dark">
                                                                <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        
                                                        </div>
                        
                                                </li>
                                            </a>
        
        
    
    
                        </ul>
    
    
    
                        
    
                    </div>
                </div>
    
    
            </div>
    
    
        </div>
    
        <!-------------------------------MOdal Ends---------------------------->




    <!------------------------------(Starts Column SEction)-------------------->


    <div class="container mt-3">
        <div class="row">




<!-----------------------------------------(Satrt Left Column)------------------------------->
            <div class="col-12 col-lg-3">


                <div class="left-column">


                    <div class="card mb-4 shadow-sm">

                       <a href="#" class="text-decoration-none text-dark hover-media"> 
                        <div class="card-body d-flex justify-content-between">
                     <span>Notifications</span>   <span><i class="fas fa-chevron-right"></i></span> 
                           
                        </div>
                    </a>

                    <hr class="m-0">
                        <a href="#" class="text-decoration-none text-dark hover-media"> 

                        <div class="card-body d-flex justify-content-between">
                           
                            <span> Mentions</span>   <span><i class="fas fa-chevron-right"></i></span> 
                       
                    </div>

                </a>

                    </div>






                    <div class="card shadow-sm mb-4">

                            <div class="card-body">
                                <h5 class="card-title">Photos<small class="ml-2"><a href="#">.Edit </a></small></h5>
    
                                <div class="row">
                                    <div class="col-6 p-1">
                                        <a href="{% static 'img/left1.jpg' %}" data-lightbox="id" ><img src="{% static 'img/left1.jpg' %}" alt="img" class="img-fluid my-2"></a>  
                                        <a href="{% static 'img/left2.jpg' %}"data-lightbox="id"><img src="{% static 'img/left2.jpg' %}" alt="img" class="img-fluid my-2"></a>
                                        <a href="{% static 'img/left3.jpg' %}"data-lightbox="id"><img src="{% static 'img/left3.jpg' %}" alt="img" class="img-fluid my-2"></a>
    
                                    </div>
    
    
                                    <div class="col-6 p-1">
                                            <a href="{% static 'img/left4.jpg' %}"data-lightbox="id"><img src="{% static 'img/left4.jpg' %}" alt="img" class="img-fluid my-2"></a>
                                            <a href="{% static 'img/left5.jpg' %}"data-lightbox="id"><img src="{% static 'img/left5.jpg' %}" alt="img" class="img-fluid my-2"></a>
                                            <a href="{% static 'img/left6.jpg' %}"data-lightbox="id"><img src="{% static 'img/left6.jpg' %}" alt="img" class="img-fluid my-2"></a>
        
                                        </div>
    
                                </div>
    
                            </div>
    
    
    
    
    
    
    
                            </div>






                            <div class="card mb-3 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">Trending searches <small><a href="#">changes</a></small></h5>


                                    <ul class="list-unstyled">

                                        <li class="pb-2"> <a href="" >#Bootstrap</a> </li>
                                        <li class="pb-2"> <a href="" >#Bootstrap</a> </li>
                                        <li class="pb-2"> <a href="" >#Mdo for pres</a> </li>
                                        <li class="pb-2"> <a href="" >#Bootstrap</a> </li>
                                        <li class="pb-2"> <a href="" >#Mdo for pres</a> </li>
                                        <li class="pb-2"> <a href="" >#Bootstrap</a> </li>
                                        <li class="pb-2"> <a href="" >#Bootstrap</a> </li>
                                        <li class="pb-2"> <a href="" >#Bootstrap</a> </li>
                                        <li class="pb-2"> <a href="" >#Bootstrap</a> </li>
                                        <li class="pb-2"> <a href="" >#Bootstrap</a> </li>
                                        <li class="pb-2"> <a href="" >#Bootstrap</a> </li>

                                        

                                       

                                    </ul>
                                    
                                </div>
                            </div>












                </div>

            </div>


     <!-----------------------------------------(End Left Column)------------------------------->





<!------------------------------------------------(Satrt Middle Column)---------------------------->


            <div class="col-12 col-lg-6">





                <div class="middle-column">
                    <div class="card shadow-sm">




                        <div class="card-header bg-transparent">
                            <h4 class="card-title">
                                Notifications
                            </h4> 

                               

                           
                        </div>

                      

                        <div class="media d -flex justify-content-between">
                            <p class="mt-2"> <i class="fas fa-globe-americas mx-2"></i><span class="h5 mr-2"><a href="#" class="text-info">Dave Gamache</a></span>went traveling </p>
                            
                            <small class="mr-2 mt-2 text-muted">1 min</small>
                        

                    </div>
                    <hr>

                    <div class="media d -flex justify-content-between">
                        <p> <i class="fas fa-gamepad mx-1"></i> <span class="h5 mr-2"> <a href="#" class="text-info"> Mark Otto</a></span>played destiny</p>
                        
                        <small class="mr-2 text-muted">10 min</small>
                    

                </div>
                <hr>


                <div class="media">
                     <i class="fas fa-user-friends mx-2 mt-1"></i> 
                     <div class="media-body">
                            <p> <span class="h5 mr-2"> <a href="#" class="text-info"> Fat and 1 other</a></span>followed you</p>
                            <img src="{% static 'img/avatar-dhg.png' %}" alt="" width="40px" height="40px" class="rounded-circle img-fluid">
                           <img src="{% static 'img/avatar-fat.jpg' %}" alt="" width="40px" height="40px" class="rounded-circle img-fluid">   
                     </div>
                   
                    
                    <small class="mr-2 text-muted">10 min</small>
                

            </div>
            <hr>

                       <div class="media">

                            <i class="fas fa-camera mx-2 mt-1"></i>

                            <div class="media-body">
                                <p class="h5 mr-2"> <span> <a href="#" class="text-info"> Dave Gamache</a></span> uploaded a photo</p>

                                <a href="{% static 'img/mid5.jpg' %}" data-lightbox="id"><img src="{% static 'img/mid5.jpg' %}" alt="" class="img-fluid shadow-sm img-thumbnail mt-3">   </a>  



                            </div>

                            <small class="mr-2 text-muted">10 min</small>

                       </div>
                       <hr>
                       <div class="media">
                            <i class="far fa-flag mx-2 mt-1"></i>
                            <div class="media-body">
                                    <p class="h5 mr-2"> <span> <a href="#" class="text-info"> Mark Otto </a></span> Flagged your post</p>

                                        <div class="media border p-3 mt-3">
                                                <img src="{% static 'img/avatar-dhg.png' %}" alt="" width="60px" height="60px" class="rounded-circle img-fluid mr-3">
                                                <div class="media-body">
                                                    <h5>Jacob Thornton</h5>
                                                    <p  class="text-justify">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, 
                                                    porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                                </div>
                                                <small class="mr-2 text-muted">5 min</small>


                                        </div>

                            </div>
                            <small class="mr-2 text-muted">3 min</small>

                       </div>
                       <hr>
                       <div class="media">
                            <i class="fas fa-heart mx-2 mt-1"></i>
                            <div class="media-body">
                                    <p> <span class="h5 mr-2"> <a href="#" class="text-info"> Mark otto and 2 other</a></span>favourite your post</p>
                                    <img src="{% static 'img/avatar-dhg.png' %}" alt="" width="40px" height="40px" class="rounded-circle img-fluid">
                                   <img src="{% static 'img/avatar-fat.jpg' %}" alt="" width="40px" height="40px" class="rounded-circle img-fluid">   
                             </div>

                             <small class="text-muted mr-2"> 2 hr</small>

                            </div>
                            <hr>

                            <div class="media">
                                    <i class="fas fa-user-friends mx-2 mt-1"></i>

                                    <div class="media-body">
                                        <p><span class="h5"> <a href="#" class="text-info"> Fat and 1 other </a></span>followed you</p>

                                        <div class="row">
                                            <div class="col-12 col-lg-6 mb-3 mb-lg-0">

                                                    <div class="card">
                                                            <img src="{% static 'img/left1.jpg' %}" alt="" class="card-img-top" width="200px" height="155px">
                                                            <div class="card-body text-center">
                                                                 <img src="{% static 'img/avatar-dhg.png' %}" alt="" width="75px" height="75px" class="rounded-circle img-fluid mt-n5">
                                                                 
                                                                 <h5 class="card-title">Jacob thunder</h5>
                                                                 <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, totam!</p>
                                                                 <a href="#" class="card-link btn btn-sm btn-outline-info"> <i class="fas fa-user-friends"></i>Follow</a>
                                                         
             
                                                            </div>
             
                                                            
                                                        </div>

                                            </div>


                                           
                                            <div class="col-12 col-lg-6">

                                                
                     <div class="card">
                              <img src="{% static 'img/left2.jpg' %}" alt="" class="card-img-top" width="200px" height="155px">
                                      <div class="card-body text-center">
                                        <img src="{% static 'img/avatar-fat.jpg' %}" alt="" width="75px" height="75px" class="rounded-circle img-fluid mt-n5">
                                                                 
                               <h5 class="card-title">Jacob thunder</h5>
                                        <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, totam!</p>
                                              <a href="#" class="card-link btn btn-sm btn-outline-info"> <i class="fas fa-user-friends"></i>Follow</a>
                                                         
            
                                        </div>
             
                                        </div>
            

                                            </div>






                                        </div>
                                          



                                          
                                    </div>
                                  
                                       
                                   
                                   <small class="mr-2 text-muted">30 min</small>
                               
               
                           </div>

                           <hr>



                           
                <div class="media">
                        <i class="fas fa-cogs mx-2 mt-1"></i>
                        <div class="media-body">
                               <p> <span class="h5 mr-2"> <a href="#" class="text-info"> Jack and 1 other</a></span>update their settings</p>
                               <img src="{% static 'img/avatar-dhg.png' %}" alt="" width="40px" height="40px" class="rounded-circle img-fluid">
                              <img src="{% static 'img/avatar-fat.jpg' %}" alt="" width="40px" height="40px" class="rounded-circle img-fluid">   
                        </div>
                      
                       
                       <small class="mr-2 text-muted">10 min</small>
                   
   
               </div>

              


               <br>




                        

                       </div>
            
                






                </div>



                <br> <br> <br>
            </div>
           




   

        
<!------------------------------------------------(End Middle Column)---------------------------->


<!------------------------------------------------(Start right Column)---------------------------->
                <div class="col-12 col-lg-3">


                    <div class="right-column">


                            <div class="card shadow-sm mb-4">

                                    <div class="card-body">
                        
                                            <h6 class="card-title ">Likes <a href="#" class="ml-1"><small>.View All</small> </a> </h6>
                                            <div class="row no-gutters d-none d-lg-flex">
                                                <div class="col-6 p-1">
                                                        <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="80px" height="80px" class="rounded-circle mb-4">
                                                        <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="80px" height="80px" class="rounded-circle">
                        
                        
                        
                                                </div>
                                                <div class="col-6 p-1 text-left">
                                                    <h6>Jacob Thornton @fat</h6>
                                                    <a href="#" class="btn btn-outline-info btn-sm mb-3"><i class="fas fa-user-friends"></i>Follow </a>
                        
                                                    <h6>Mark otto</h6>
                                                    <a href="#" class="btn btn-outline-info  btn-sm"><i class="fas fa-user-friends"></i>Follow </a>
                        
                                                </div>
                        
                                            </div>
                        
                                    </div>
                        
                                    <div class="card-footer">
                        
                                        <p class="lead" style="font-size:18px;">Dave really likes these nerds, no one knows why though.</p>
                                    </div>
                                    
                        
                        
                                </div>
                        
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <p>&copy; 2018 Bootstrap
                        
                        
                        
                                                <a href="#">About</a>
                                                <a href="#">Help</a>
                                                <a href="#">Terms</a>
                                                <a href="#">Privacy</a>
                                                <a href="#">Cookies</a>
                                                <a href="#">Ads </a>
                                                <a href="#">Info</a>
                                                <a href="#">Brand</a>
                                                <a href="#">Blog</a>
                                                <a href="#">Status</a>
                                                <a href="#">Apps</a>
                                                <a href="#">Jobs</a>
                                                <a href="#">Advertise</a>                                                         
                                        </p>
                                    </div>
                        
                                </div>
                    </div>
                </div>
            </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}