{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

    <div class="modal fade" id="modalview" >
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    
                <div class="modal-content">
    
    
                    <div class="modal-header">
                        <div class="modal-title h4">Messages</div>
    
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
    
    
                    <div class="modal-body">
    
    
                        <ul class="list-unstyled">
    
    
                         <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>
                        <hr class="my-3">
    
    
                        
                        <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                        <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
    
    
                            <hr class="my-3">
    
    
                            <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                        <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
    
                            <hr class="my-3">
    
    
                            <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>
                                <hr class="my-3">
            
            
                                
                                <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
            
            
                                    <hr class="my-3">
            
            
                                    <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
    
                            
                                    <hr class="my-3">
                                    <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
                                        <hr class="my-3">
                    
                    
                                        
                                        <a href="#" class="text-decoration-none">
                                                <li class="media hover-media">
                                                   
                                                        <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        
                                                        <div class="media-body text-dark">
                                                                <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        
                                                        </div>
                        
                                                </li>
                                            </a>
                    
                    
                                            <hr class="my-3">
                    
                    
                                            <a href="#" class="text-decoration-none">
                                                <li class="media hover-media">
                                                   
                                                        <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        
                                                        <div class="media-body text-dark">
                                                                <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        
                                                        </div>
                        
                                                </li>
                                            </a>
        
        
    
    
                        </ul>
    
    
    
                        
    
                    </div>
                </div>
    
    
            </div>
    
    
        </div>
    
        <!-------------------------------MOdal Ends---------------------------->
        <!-----------------------------------Banner/img Starts-------------------->


        <div class="banner">
            <div class="banner-title d-flex flex-column justify-content-center align-items-center">
                <img src="{% static 'img/avatar-dhg.png' %}" alt="img" class="rounded-circle" width="80px" height="80px">
                <h3 class="text-light">Dave Gamache</h3>
                <p class="text-light">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>

            </div>


            <div class="banner-end d-flex justify-content-center align-items-end">
                <ul class="nav text-light">
                    <li class="nav-item"><a href="{% url 'posts' %}" class="nav-link active">Posts</a></li>
                    <li class="nav-item"><a href="{% url 'followers' %}" class="nav-link">Followers</a></li>
                    <li class="nav-item"><a href="{% url 'following' %}" class="nav-link">Following</a></li>
                </ul>
            </div>


            

        </div>

        <!--------------------Image Portfolio----------------->


        <div class="grid-template container my-4">
            

            <div class="item-1">
                   
                
           
           <a href="{% static 'portfolio/img1.jpg' %}" data-lightbox="id"><img src="{% static 'portfolio/img1.jpg' %}" alt="" class="img-fluid" style="width:455px; height: 255px;"></a>     
          


            </div>

            <div class="item-2 ">
                <a href="{% static 'portfolio/img2.jpg' %}"data-lightbox="id"> <img src="{% static 'portfolio/img2.jpg' %}" alt="" class="img-fluid" style="width:217px; height: 255px;"></a>   

                </div>
                <div class="item-3">
                        <a href="{% static 'portfolio/img3.jpg' %}"data-lightbox="id"> <img src="{% static 'portfolio/img3.jpg' %}" alt="" class="img-fluid" style="width:217px; height: 255px;"></a> 
                    </div>
                    <div class="item-4">
                            <a href="{% static 'portfolio/img4.jpg' %}"data-lightbox="id"> <img src="{% static 'portfolio/img4.jpg' %}" alt="" class="img-fluid" style="width:217px; height: 255px;"></a> 
                    


                        </div>


                        <div class="item-5">

                                <a href="{% static 'portfolio/img5.jpg' %}"data-lightbox="id"><img src="{% static 'portfolio/img5.jpg' %}" alt="" class="img-fluid" style="width:217px; height: 255px;"></a> 
          


                        </div>
            
                        <div class="item-6">
                                <a href="{% static 'portfolio/img6.jpg' %}"data-lightbox="id">   <img src="{% static 'portfolio/img6.jpg' %}" alt="" class="img-fluid" style="width:217px; height: 255px;"></a> 
                            
            
                            </div>
                            <div class="item-7">
                                    <a href="{% static 'portfolio/img7.jpg' %}"data-lightbox="id"> <img src="{% static 'portfolio/img7.jpg' %}" alt="" class="img-fluid" style="width:455px; height: 255px;"></a> 
                              
                                </div>
                                <div class="item-8">
                                
                                        <a href="{% static 'portfolio/img8.jpg' %}"data-lightbox="id">  <img src="{% static 'portfolio/img8.jpg' %}" alt="" class="img-fluid" style="width:217px; height: 255px;"></a> 
            
                                    </div>

                                    <div class="item-9">
                                            <a href="{% static 'portfolio/img9.jpg' %}"data-lightbox="id"><img src="{% static 'portfolio/img9.jpg' %}" alt="" class="img-fluid" style="width:217px; height: 255px;"></a> 
          


                                    </div>
                        
                                    <div class="item-10">
                                            <a href="{% static 'portfolio/img10.jpg' %}"data-lightbox="id">    <img src="{% static 'portfolio/img10.jpg' %}" alt="" class="img-fluid" style="width:217px; height: 255px;"></a> 
                                        
                        
                                        </div>
                                        <div class="item-11">
                                                <a href="{% static 'portfolio/img11.jpg' %}"data-lightbox="id">   <img src="{% static 'portfolio/img11.jpg' %}" alt="" class="img-fluid" style="width:455px; height: 255px;"></a> 
                                          
                                            </div>
                                            <div class="item-12">
                                                    <a href="{% static 'portfolio/img12.jpg' %}"data-lightbox="id">   <img src="{% static 'portfolio/img12.jpg' %}" alt="" class="img-fluid" style="width:217px; height: 255px;"></a> 
                                            
                        
                        
                                                </div>

        </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}