{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<style>
    #appointment {
        padding: 50px 0;
    }
    #appointment-form {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .form-group {
        margin-bottom: 20px;
    }
    #cf-submit {
        background-color: #007bff; 
        color: #fff;
        border: none;
        padding: 5px 15px; 
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 14px; 
    }
    #cf-submit:hover {
        background-color: #0056b3; 
    }
    .section-title {
        text-align: center;
    }
    .section-title h2 {
        margin-top: 30px; 
    }
</style>
<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
         <div class="row justify-content-center">
              <div class="col-md-6 col-sm-6">
                   <!-- CONTACT FORM HERE -->
                   <form id="appointment-form" role="form" method="post" action="{% url 'signup' %}">

                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                             <h2>Sign Up</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                             <div class="col-md-12 col-sm-12">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}
                                {% if msg %}
                                    <div class="alert alert-success">{{ msg }}</div>
                                {% endif %}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endif %}
                                <button type="submit" class="form-control" id="cf-submit" name="submit">Sign Up</button>
                             </div>
                        </div>
                  </form>
              </div>

         </div>
    </div>
</section>
{% endblock %}
