{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<style>
    /* Additional CSS styles */
    #appointment {
        padding: 50px 0;
    }
    #appointment-form {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .form-group {
        margin-bottom: 20px;
    }
    #cf-submit {
        background-color: #007bff; /* Blue button color */
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    #cf-submit:hover {
        background-color: #0056b3; /* Darker blue color on hover */
    }
    h2 {
        text-align: center; /* Center the <h2> element */
    }
</style>
<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
         <div class="row justify-content-center"> <!-- Center the login form -->
              <div class="col-md-6 col-sm-6">
                   <!-- CONTACT FORM HERE -->
                   <form id="appointment-form" role="form" method="post" action="{% url 'add_profile' %}" enctype="multipart/form-data">
                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                             <h2>Add Profile</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                             <div class="col-md-6 col-sm-6">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}
                                {% if form.errors %}<div class="alert-danger">{{form.errors}}</div>{% endif %}
                                <button type="submit" class="form-control" id="cf-submit" name="submit">+ADD</button>
                                <!-- Update button -->
                                <button type="button" class="form-control" id="update-profile" name="update" style="display: none;">Update</button>
                             </div>
                        </div>
                  </form>
              </div>

         </div>
    </div>
</section>
{% endblock %}
