{% load static %}
<!-------------------------------NAvigation Starts------------------>
<style>
    .dropdown-menu {
        background-color: transparent;
        border: none;
        box-shadow: none;
        position: absolute;
        right: 0;
        top: 100%;
    }
    .dropdown-menu a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 5px 10px;
    }
    .dropdown-menu a:hover {
        background-color: #f8f9fa;
    }
</style>
{% if request.user.is_authenticated %}
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color:#3097D1">
    <a href="index.html" class="navbar-brand"><img src="{% static 'img/brand-white.png' %}" alt="logo" class="img-fluid" width="80px" height="100px"></a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>


    <div class="collapse navbar-collapse" id="responsive">
        <ul class="navbar-nav mr-auto text-capitalize">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active">home</a></li>
            <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">profile</a></li>
            <li class="nav-item"><a href="#modalview" class="nav-link" data-toggle="modal">messages</a></li>
            <li class="nav-item"><a href="{% url 'notification' %}" class="nav-link">docs</a></li>
            <li class="nav-item"><a href="{% url 'signout' %}" class="nav-link">Logout</a></li>
            <li class="nav-item"><a href="#" class="nav-link d-md-none">growl</a></li>
            <li class="nav-item"><a href="{% url 'signout' %}" class="nav-link d-md-none">logout</a></li>

        </ul>

        <form action="" class="form-inline ml-auto d-none d-md-block">
            <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm">
        </form>
        <a href="{% url 'notification' %}" class="text-decoration-none" style="color:#CBE4F2;font-size:22px;"><i class="far fa-bell ml-3 d-none d-md-block"></i></a> 
        <div class="dropdown">
            <img id="dropdown-toggle" src="{% static 'img/avatar-dhg.png' %}" alt="" class="rounded-circle ml-3 d-none d-md-block" width="32px" height="32px">
            <ul class="dropdown-menu">
                <li><a href="{% url 'add_profile' %}">+Add Profile</a></li>
                <li><a href="{% url 'signout' %}">Logout</a></li>

            </ul>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#dropdown-toggle').click(function(){
                    $('.dropdown-menu').toggle();
                });
            });
        </script>
    </div>
</nav>
{% endif %}